@import "tailwindcss";

@theme {
  --color-background: #fff;
  --color-foreground: #1c1c1c;

  --color-primary: #3a592a;
  --color-primary-foreground: #fff;

  --color-card: #f7f7f7;

  --color-text-primary: #1c1c1c;
  --color-text-secondary: #555;
}
